# QUESTION-1

# 1.load the data set

In [9]:
#import the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import numpy as np
import math
import operator
# 1.loading the data set
attributes = ["sepal_length", "sepal_width", "petal_length", "petal_width", "species"]
data = pd.read_csv('IRIS.data', names = attributes)  # read the csv data
data.columns = attributes  # represents index for columns
print(data)

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

# 2.normalise the data set

In [10]:
#normalize the data set
df1=data["sepal_length"]
df2=data["sepal_width"]
df3=data["petal_length"]
df4=data["petal_width"]
print('max value for sepal_length feature  = ',df1.max())
print('min value for sepal_length feature  = ',df1.min())
print('max value for sepal_width feature   = ',df2.max())
print('min value for sepal_width feature   = ',df2.min())
print('max value for petal_length feature  = ',df3.max())
print('min value for petal_length feature  = ',df3.min())
print('max value for petal_width feature   = ',df4.max())
print('min value for petal_width feature   = ',df4.min())

max value for sepal_length feature  =  7.9
min value for sepal_length feature  =  4.3
max value for sepal_width feature   =  4.4
min value for sepal_width feature   =  2.0
max value for petal_length feature  =  6.9
min value for petal_length feature  =  1.0
max value for petal_width feature   =  2.5
min value for petal_width feature   =  0.1

In [11]:
#Normalising the data set
norm = data.drop('species', axis='columns')
norm_values = norm.apply(lambda x:(x-x.min(axis=0))/(x.max(axis=0)-x.min(axis=0)))
norm_values

     sepal_length  sepal_width  petal_length  petal_width
0        0.222222     0.625000      0.067797     0.041667
1        0.166667     0.416667      0.067797     0.041667
2        0.111111     0.500000      0.050847     0.041667
3        0.083333     0.458333      0.084746     0.041667
4        0.194444     0.666667      0.067797     0.041667
..            ...          ...           ...          ...
145      0.666667     0.416667      0.711864     0.916667
146      0.555556     0.208333      0.677966     0.750000
147      0.611111     0.416667      0.711864     0.791667
148      0.527778     0.583333      0.745763     0.916667
149      0.444444     0.416667      0.694915     0.708333

[150 rows x 4 columns]

# 3.distance metric

In [12]:
def EuclideanDistance(data1, data2, length):
    distance = 0
    for x in range(length):
        distance += np.square(data1[x] - data2[x])
    return np.sqrt(distance)

# 4.nearest neighbours

In [13]:
#nearest neighbours
def Neighbours(data,testVector,k=5):
    neighbours = []
    for point in data:
        dist = euclidean_distance(point, testVector)
        neighbours.append([point, dist])
    neighbours.sort(key = lambda x: x[1])
    nearNeighbours = []
    for i in range(k):
        nearNeighbours.append(neighbours[i][0])
    return nearNeighbours

# 5.prediction using KNN

In [14]:
def KNN(data, testsample1, k):
#Create sets for distances, sorted list of distances and the length
    distances = {}
    sort = {}
    length = testsample1.shape[1]
#EuclideanDistance function 
    for x in range(len(data)):
        dist = EuclideanDistance(testsample1,data.iloc[x],length)
        distances[x] = dist[0]
#sorting
    sorted_d = sorted(distances.items(), key=operator.itemgetter(1))
    # 2.4.3.: take top k neighbors
    neighbors = []
    for x in range(k):
        neighbors.append(sorted_d[x][0])
#frequent class
    classs = {}
    for x in range(len(neighbors)):
        response = data.iloc[neighbors[x]][-1]
        if response in classs:
            classs[response] += 1
        else:
            classs[response] = 1
    sortedVotes = sorted(classs.items(), key=operator.itemgetter(1), reverse=True)
    return(sortedVotes[0][0], neighbors)

# 6.test

In [15]:
#test
k=5
data=data
testsample11=[[5.1, 2.5, 3.2, 4.3]]
testsample1 = pd.DataFrame(testsample11)
testsample22=[[4.9, 3, 1.4, 0.2]]
testsample2 = pd.DataFrame(testsample22)
testsample33=[[6, 3, 4.8, 1.8]]
testsample3 = pd.DataFrame(testsample33)
result1, neighbours1 = KNN(data, testsample1, k)
result2, neighbours2 = KNN(data, testsample2, k)
result3, neighbours3 = KNN(data, testsample3, k)
print("the neighbors of test sample1 are:",neighbours1)
print("the testsample1 belongs to ",result1)
print("the neighbors of test sample1 are:",neighbours2)
print("the testsample1 belongs to ",result2)
print("the neighbors of test sample1 are:",neighbours3)
print("the testsample1 belongs to ",result3)

the neighbors of test sample1 are: [114, 106, 121, 113, 59]
the testsample1 belongs to  Iris-virginica
the neighbors of test sample1 are: [1, 45, 12, 9, 34]
the testsample1 belongs to  Iris-setosa
the neighbors of test sample1 are: [138, 127, 70, 126, 149]
the testsample1 belongs to  Iris-virginica

# accuracy and tuning

In [22]:
iris_df=data
iris = load_iris()
X = iris.data  # X will be feature matrix
y = iris.target  # y will be label vector
def accuracy(x):
    if x == 'setosa':
        return 0
    elif x == 'versicolor':
        return 1
    elif x == 'virginica':
        return 2
listK = [1,3,5,7,11,13,15,27,59,]
ScoreK = []
AccuracyK = []
for k in listK:
            data1 = KNeighborsClassifier(n_neighbors=k)
            data1.fit(X, y)
            X_Testing = [[5.1, 2.5, 3.2, 4.3]]
            y_predict = data1.predict(X_Testing)
            iris_df['label'] = iris_df['species'].apply(accuracy)
            feature_cols = ['sepal_length','sepal_width','petal_length','petal_width']
            X = iris_df[feature_cols]  
            y = iris_df['species']
            from sklearn.model_selection import train_test_split
            X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=6)
            data1.fit(X_train, y_train)
            # Testing on the testing set:
            y_predict = data1.predict(X_test)
            from sklearn.metrics import accuracy_score
            accuracy = accuracy_score(y_test, y_predict)
            AccuracyK.append(accuracy)
            
print( 'K value :')    
print(listK)
print('\n')
print('accuracy score':)
print(accuracyscore)
print('Accuracy : ')
print(AccuracyK)

K value :
[1, 3, 5, 7, 11, 13, 15, 27, 59]


Accuracy Score :
[0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5]


Accuracy :
[0.95, 0.9666666666666667, 0.9833333333333333, 0.9666666666666667, 0.9666666666666667, 0.9666666666666667, 0.9333333333333333, 0.9166666666666666, 0.8166666666666667]